body {
    margin: 0;
    overflow: hidden;
    background-color: #110B2F; /* Set the background color of the webpage */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.object {
    position: absolute;
    background: radial-gradient(circle, rgba(32, 27, 168, 0.1) 10%, rgba(0, 0, 0, 0.9) 90%); /* Set the gradient for both the moon and the planet */
    border: 2px solid ; /* Set the border color */
    border-radius: 50%; /* Make them round */
    box-shadow: 0px 4px 250px 12px #4323B8 inset;
    transition: all 2s ease;
}

/* Specific properties for the planet */
#planet {
    width: 800px; /* Approximate size of Earth */
    height: 800px; /* Approximate size of Earth */
    top: 90%;
    left: 85%; /* Initial position of Earth, centered */
    background: radial-gradient(circle, rgba(32, 27, 168, 0.1) 10%, rgba(0, 0, 0, 0.9) 90%);
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* Specific properties for the moon */
#moon {
    width: 100px; /* Approximate size of Moon (1/4th of Earth) */
    height: 100px; /* Approximate size of Moon (1/4th of Earth) */
    top: 50%;
    background: radial-gradient(circle, rgba(32, 27, 168, 0.1) 10%, rgba(0, 0, 0, 0.9) 90%);
    left:50%; /* Initial position of Moon */
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* Properties for the animated state of the planet */
#planet.animate {
    width: 2400px; /* 3 times the original width */
    height: 2400px; /* 3 times the original height */
    top: 50%;
    left: calc(65% + 1200px); /* Move further to the right, making 30% go out of screen */
    transform: translate(-50%, -50%);
    opacity: 1;
}



#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 20px;
    right: 50px;
    color: white;
    word-spacing: 30px;
}

#logo {
    width: auto;
    height: auto;
}
.main-inner-inner {
    position: absolute;
    left: 3%; /* Adjust the left position as needed */
    top: 70%;
    transform: translateY(-60%);
    width: 30%; /* Adjust the width as needed */
    color: white;
}

